.add-button-icon {
  padding: 3px;
}

.add-button {
  width: -webkit-fill-available;
  text-align: center;
  padding: 5px;
  display: table;
  margin: 0 auto;
  background-color: darkviolet;
  border-radius: 5px;
  color: white;
  max-width: 300px;
  font-weight: 700;
  font-size: medium;
  border: none;
  outline: none;
  cursor: pointer;
}

.add-button-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
