.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-actions-container {
  padding: 3px;
  width: 40%;
}

.header-standards-container {
  padding: 3px;
  width: 60%;
}

.heading {
  font-size: larger;
  font-weight: 800;
  display: block;
}

.sub-heading {
  font-size: small;
  font-weight: 500;
  display: block;
  color: gray;
}
